.carousel {
  min-height: 580px;
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -66px;
    border: none;
    background-color: #fff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .next {
    right: -66px;
    left: auto;
  }
  .tns-item {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  .tns-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
    button {
      border-radius: 100%;
      background-color: red;
      border: none;
      width: 20px;
      height: 20px;
      margin: 0 2px;
    }
    .tns-nav-active {
      background-color: black;
    }
  }
}