@media (max-width: 1200px) {
  .header {
    &__official {
      color: red;
    }
  }
  .advantages {
    &__wrapper{
      justify-content: space-around;
    }
  }
}
@media (max-width: 991px) {
  .promo {
    &__wrapper {
      align-items: flex-end;
      margin-right: 30px;
    }
    &__header {
      font-size: 35px; 
    }
    &__subheader {
      font-size: 19px;
    }
  }
  .button_main {
    width: 270px;
  }
  .header {
    justify-content: space-around;
      &__official {
        color: blue;
      }

  }
}
@media (max-width: 767px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  &__contacts {
    width: 50%;
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  }
  .promo {
    &__wrapper {
      align-items: center;
      margin: 50px 0 0 0;
      
    }
    &__header {
      line-height: 40px;
    }
    &__subheader {
      margin-top: 8px;
    }
  }
  .advantages {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
  }
  
}
@media (max-width: 576px) {
  .promo {
    &__wrapper{
      margin-top: 48px;
    }
    &__header {
      font-size: 23px;
    }
    &__subheader {
      font-size: 12px;
    }
    &__icons {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon img {
      margin: 24px auto;
    }
    .header {
      flex-direction: column;
      &__official {
        padding-top: 33px;
      }
    }
    .button_main {
      width: 220px;
      font-size: 14px;
    }
  }
  .advantages {
    .title {
      font-size: 22px;
    }
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
    &__item {
      margin-top: 30px;
    }
  }
}
     



