@media (max-width: 991px) {
  .container {
    max-width: 680px;
  }
  .promo {
    background: url('../img/main_min.jpg') center (center/cover) no-repeat;
    &__header {
      font-size: 35px; 
    }
    &__subheader {
      font-size: 19px;
    }
    .button_main {
        width: 255px;
    }
  }
  .consultation {
    .title_left {
      font-size: 27px;
      text-align: left;
    }
    &__descr {
      text-align: left;
    }
  }
  .carousel {
    &__inner {
      max-width: 632px;
    }
  .slick-prev {
    left: -44px;
  }
  .slick-next {
    right: -44px;
  }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 550px;
  }
  .header {
    display: flex;
    margin: 0 auto;
    &__official {
      display: none;
    }
  }
  .promo {
    &__wrapper {
      align-items: center;
    }
    &__header {
      font-size: 30px;
      line-height: 40px;
    }
    &__subheader {
      font-size: 17px;
      margin-top: 11px;
    }
    &__icons {
      align-items: flex-end;
    }
  }
  .advantages {
    .title {
      font-size: 25px;
    }
    &__wrapper {
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
    &__subtitle {
      margin-top: 25px;
    }
    &__item {
      margin-top: 20px;
    }
  }
  .consultation {
    .title_left {
      font-size: 25px;
      line-height: 34px;
    }
  }
  /* .carousel {
    .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      button {
        border-radius: 100%;
        width: 20px;
        height: 20px;
        margin: 3px;
        font-size: 0;
        background-color: #fff;
      }
    }
  } */
}
@media (max-width: 576px) {
  .container {
    max-width: 300px;
  }
  .promo {
    background: url('../img/main_min.jpg') center (center/cover) no-repeat;
    padding: 21px 0 50px 0;
    &__header {
      font-size: 21px;
      line-height: 20px;
    }
    &__subheader {
      font-size: 12px;
    }
    &__icons {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin: 15px auto;
    }
    .header {
      flex-direction: column;
      &__logo {
        max-width: 250px;
      }
      &__contacts {
        margin-top: 30px;
      }
    }
    .button_main {
      width: 220px;
      font-size: 14px;
      margin-top: 30px;
    }
  }
  .advantages {
    .title {
      font-size: 22px;
    }
    &__wrapper {
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
    }
    &__item {
      margin-top: 30px;
    }
  }
  .consultation {
    .title_left {
      font-size: 27px;
      text-align: left;
    }
    &__descr {
      font-size:14px;
      line-height: 20px;
      text-align: left;
    }
    .feed-form {
      max-width: 250px;
    }
    .button_submit {
      max-width: 250px;
    }
  }
    
}
     



