@media (max-width: 1200px) {

  .header {
    &__official {
      color: red;
    }
  }
  .advantages {
    &__wrapper{
      justify-content: space-around;
    }
  }
}
@media (max-width: 991px) {
  .promo {
    .header {
      margin: 0 30px 0 30px;
        &__official {
          color: blue;
        }

    }
    &__wrapper {
      padding-right: 30px;
    }
    &__header {
      font-size: 39px; 
    }
    &__subheader {
      font-size: 22px;
    }
    
  }
}
@media (max-width: 767px) {
  .header {
    justify-content: space-around;
    align-items: center;
  }
  .promo {
    &__wrapper {
      align-items: center;
    }
    &__header {
      line-height: 18px;
    }
  }
  .advantages {
    &__wrapper {
      justify-content: space-around;
    }
  }
  
}

     



